@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* universal styles */
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* navbar styles*/
.navbar {
  display: flex;
  flex: wrap;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.navbar li {
  list-style-type: none;
}

.nav-high-score {
  color: rgb(200, 76, 231);
}

/* end navbar styles*/

/* start-page style */

.container {
  display: block;
}

.container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-title {
  font-size: 40px;
  padding-top: 20px;
  align-self: center;
}

.directions {
  font-size: 24px;
  margin: 40px 0;
  text-align: center;
}

.start-btn {
  font-size: 18px;
  padding: 8px;
  color: #ffffff;
  border-radius: 10px;
  background-color: rgb(52, 10, 119);
  width: 150px;
  align-self: center;
}

/* start-page style */

/* question style */

.choice {
  font-size: 24px;
  margin: 40px 0;
  text-align: center;
}

.choice-button {
  font-size: 18px;
  padding: 8px;
  color: #ffffff;
  border-radius: 10px;
  background-color: rgb(52, 10, 119);
  width: 150px;
  align-self: center;
}

.question-container {
  display: none;
}

/* end question style */
